.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
}

.read-the-docs {
  color: #888;
}

.fonbox {
  overflow: hidden; /* обрезает края картинки при параллаксе */
  border-radius: 24px;
}
.fonbox img {
  display: block; /* Чтобы margin auto работал */
  max-width: 100%; /* Картинка не выходит за ширину блока */
  height: auto; /* Сохраняет пропорции */

  object-fit: cover; /* Картинка заполняет блок, обрезая лишнее */
}

.main-container {
  width: 100%;
  padding: 0 1rem;
  max-width: 800px; /* Ограничиваем ширину для больших экранов */
  margin: 0 auto; /* Центрирование контейнера */
  padding: 10px; /* Отступы по краям */
  box-sizing: border-box; /* Чтобы padding не ломал ширину */
}

@media screen and (max-width: 783px) {
  .main-container {
  }
}
.cards {
  display: grid;
  gap: 14px;

  /* Сетка сама считает колонки */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.card {
  border-radius: 16px;
  overflow: hidden;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.hero {
  width: 100vw; /* вся ширина окна */
  margin-left: 50%;
  margin-left: calc(50% - 50vw);
  background: blue;
}

.form-inputs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
}
