@import 'tailwindcss';

:root {
  --color-text: #213547;
  --color-bg: #ffffff;
  --color-primary: #535bf2;
  --color-libbg: #ffffff;
  --color-input-bg: #f9f9f9;
  --color-input-border: #ccc;

  --color-button-bg: #000000;
  --color-button-text: #ffffff;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #e0e0e0;
    --color-bg: #121212;
    --color-primary: #747bff;
    --color-libbg: #151518;
    --color-input-bg: #1e1e1e;
    --color-input-border: #333;

    --color-button-bg: #000000;
    --color-button-text: #ffffff;
  }
}
body {
  margin: 0;
  font-family: 'Manrope', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  color: var(--color-text);
  background-color: var(--color-bg);
  min-width: 320px;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  line-height: 1.1;
  font-weight: 700;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: var(--color-text);
  transition: color 0.25s;
}
a:hover {
  color: var(--color-primary);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-button-bg);
  color: var(--color-button-text);
  cursor: pointer;
  transition: all 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Инпуты */
input,
textarea {
  background-color: var(--color-input-bg);
  color: var(--color-text);
  border: 1px solid var(--color-input-border);
  border-radius: 8px;
  padding: 0.5em 0.75em;
  font-size: 16px;
  transition:
    border-color 0.25s,
    background-color 0.25s;
}
input:focus,
textarea:focus {
  outline: none;
  border-color: var(--color-primary);
}

/* Навбар */
.navbar a {
  transition: color 0.25s;
}
.navbar .active {
  color: var(--color-primary);
  font-weight: bold;
}
.navbar .inactive {
  color: #999; /* серый по умолчанию для неактивных ссылок */
}
.navbar .inactive:hover {
  color: var(--color-primary);
}
